<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/Tinbo/tinbo.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.gitlab.arturbosch.tinbo.config" level="debug"/>
    <logger name="io.gitlab.arturbosch.tinbo.start" level="debug"/>

    <root level="error">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
